=javascript_include_tag "automata.js"
%script
    = "histogram=#{@histogram.to_json};"
    = "ret_histogram=#{@ret_histogram.to_json};"
    = "histogram2=#{@histogram2.to_json};"
    = "ret_histogram2=#{@ret_histogram2.to_json};"
    = "x1=#{@x1.to_json};"
    = "y1=#{@y1.to_json};"
    = "x2=#{@x2.to_json};"
    = "y2=#{@y2.to_json};"
    = "x3=#{@x3.to_json};"
    = "y3=#{@y3.to_json};"
    = "x4=#{@x4.to_json};"
    = "y4=#{@y4.to_json};"
    = "x5=#{@x5.to_json};"
    = "x6=#{@x6.to_json};"

%h3{:style=>"color:#F00"} rojo
%pre= simulator_stats(@simulator)
%pre= @simulator.history.dates_of_review
.week_report_wrapper
    #graph1.week_report
    #graph1_2.week_report.invert


%br
%hr
%br

%h3{:style=>"color:#446"} azul
%pre= simulator_stats(@simulator2)
%pre= @simulator2.history.dates_of_review
.week_report_wrapper
    #graph2.week_report
    #graph2_2.week_report.invert

#retentions
#healthy_cards
#retention_status_for_random
#retention_status_for_walle
  